@use 'variables' as v;

html {
	font-size: 62.5%;
	box-sizing: border-box;
	height: 100%;
}
body {
	min-height: 100%;
	background-color: v.$black;
	color: v.$white;
}
*, *:before, *:after {
	box-sizing: inherit;
}
body {
	font-family: v.$principalFont;
	font-size: 1.6rem;
}
.container {
	width: 95%;
	max-width: 1200px;
	margin: 0 auto;
}
a {
	text-decoration: none;
}
ul, li{
	list-style: none;
}

img {
	max-width: 100%;
	width: inherit;
	height: inherit;
}
