@use 'variables' as v;

/** Media Queries **/
@mixin phone {
	@media (max-width: v.$phone) {
			@content;
	}
}
@mixin tablet {
	@media (max-width: v.$tablet) {
			@content;
	}
}
@mixin desktop {
	@media (max-width: v.$desktop) {
			@content;
	}
}

@mixin breakpointDesktop {
	@media (max-width: v.$breakpointDesktop) {
			@content;
	}
}

@mixin breakpointPhone {
	@media (max-width: v.$breakpointPhone) {
			@content;
	}
}

@mixin breakpointSmartWatch {
	@media (max-width: v.$breakpointSmartWatch) {
			@content;
	}
}


@mixin button($bgColor, $textColor) {
	display: block;
	width: 50%;
	padding: 1.5rem 4rem;
	margin: 0 auto;
	background-color: $bgColor;
	color: $textColor;
	margin-top: 2rem;
	font-size: 2rem;
	font-weight: 400;
	font-weight: 700;
	text-align: center;
	border: none;
	transition: background-color .3s ease;

	@include tablet {
		width: 100%;
	}
	&:hover {
		background-color: darken( $bgColor, 10% );
		cursor: pointer;
	}
}