@use 'variables' as v;

h1, h2, h3 {
	font-family: v.$principalFont;
	margin: 0;
	font-weight: 900;
	text-align: center;
	color: v.$black;
}

h1 {
	font-size: 3rem;
}
h2 {
	font-size: 3rem;
}
h3 {
	font-size: 2rem;
}
p {
	font-size: 2rem;
	color: v.$mediumGray;
	font-weight: 100;
	line-height: 3rem;
	letter-spacing: .1rem;
	margin: 0;
}

.title{
	font-size: 5rem;
}

.tx-start{
	text-align: start;
}