// Fuentes
$principalFont: 'Noto Sans JP', sans-serif;

// Tamaño de Media Queries
$breakpointSmartWatch: 320px;
$breakpointPhone: 410px;
$phone: 480px;
$tablet: 768px;
$breakpointDesktop: 930px;
$desktop: 1024px;

// Colores
$principalColor: #ffc107;
$titleColor: #565758;
$bgColor: #f9f9f9;
$black: #000000;
$white: #FFFFFF;
$lightGray: #e0e0e0;
$gray: #a1a1a1;
$darkGray: #434343;