// Fuentes
$principalFont: 'Roboto', sans-serif;

// Tamaño de Media Queries
$breakpointSmartWatch: 320px;
$breakpointPhone: 410px;
$phone: 480px;
$tablet: 768px;
$breakpointDesktop: 930px;
$desktop: 1024px;

// Colores
$principalColor: #3A6073;
$blue: #0da6f3;
$red: #cb0000;
$green:#329f00;
$black: #000000;
$bgColor: #0f100e;
$gray: #e1e1e1;
$darkGray: #b8b8b8;
$white: #FFFFFF;