// Fuentes
$principalFont: 'Noto Sans JP', sans-serif;

// Tamaño de Media Queries
$breakpointSmartWatch: 320px;
$breakpointPhone: 410px;
$phone: 480px;
$tablet: 768px;
$breakpointDesktop: 930px;
$desktop: 1024px;

// Colores
$principalColor: #077bff;
$titleColor: #565758;
$bgColor: #f9f9f9;
$black: #000000;
$white: #FFFFFF;
$lightGray: #e0e0e0;
$gray: #a1a1a1;
$mediumGray: #818181;
$darkGray: #434343;

// Escala de azules
$darkBlue: #06283D;
$blue: #1363DF;
$lightBlue: #47B5FF;
$extraLightBlue: #DFF6FF;

// Escala del color principal
$principalScale1: #077BFF;
$principalScale2: #6B6DEC;
$principalScale3: #8F5FD7;
$principalScale4: #A652BF;
$principalScale5: #B346A7;
$principalScale6: #BA3C8F;